.react-phone-input .flag-dropdown {
    display: none !important;
  }
  .transition-height {
  transition: max-height 0.3s ease-in-out;
  overflow: hidden;
}

.max-h-0 {
  max-height: 0;
}

.max-h-screen {
  max-height: 1000px; /* Adjust as needed */
}